<div class="header-area">
    <div class="main-header ">
        <div class="header-top d-none d-lg-block">
           
        </div>
        <div class="header-bottom header-sticky sticky-bar">
            <!-- Logo -->
            <div class="logo d-none d-lg-block">
                <a href="/"><img src="/assets/img/logo/logo.png" alt=""></a>
            </div>
            <div class="container">
                <div class="menu-wrapper">
                    <!-- Logo -->
                    <div class="logo logo2 d-block d-lg-none">
                        <a href="/"><img src="/assets/img/logo/logo.png" alt=""></a>
                    </div>
                    <!-- Main-menu -->
                    <div class="main-menu d-none d-lg-block">
                        <nav>
                            <ul id="navigation">                                                                                          
                                <li><a href="/">Inicio</a></li>
                                <li><a href="/about">Sobre</a></li>
                                <li><a href="/courses">Aulas</a></li>
                                <li><a href="/category">Disciplinas</a></li>
                                <li><a href="/community">Comunidade</a>
                                    <!-- <ul class="submenu">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog_details.html">Blog Details</a></li>
                                        <li><a href="elements.html">Element</a></li>
                                    </ul> -->
                                </li>
                                <li><a href="/contact">Contacto</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Header-btn -->
                    <div class="header-search d-none d-lg-block">
                        <form action="search" id="search_form" method="GET" class="form-box f-right ">
                            <input type="text" name="q" placeholder="Pesquisar cursos">
                            <div class="search-icon" onclick="search()">
                                <i class="fas fa-search special-tag"></i>
                            </div>
                    
                        </form>
                    </div>
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
</div>