<!doctype html>
<html class="no-js" lang="zxx">
<head>
   <%- include('../partials/head.html') %>
</head>

<body>
    <!--? Preloader Start -->
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
          <div class="preloader-inner position-relative">
              <div class="preloader-circle"></div>
              <div class="preloader-img pere-text">
                  <img src="/assets/img/logo/loder.png" alt="">
              </div>
          </div>
      </div>
  </div>
  <!-- Preloader Start -->
  <header>
      <!-- Header Start -->
      <%- include('../partials/header.html')%>
      <!-- Header End -->
  </header>
   <main>
      <!--? Hero Start -->
      <div class="slider-area ">
         <div class="slider-height2 d-flex align-items-center">
               <div class="container">
                  <div class="row">
                     <div class="col-xl-12">
                           <div class="hero-cap hero-cap2 text-center">
                              <h2>Blog Details</h2>
                           </div>
                     </div>
                  </div>
               </div>
         </div>
      </div>
      <!-- Hero End -->
      <!--================Blog Area =================-->
      <section class="blog_area single-post-area section-padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 posts-list">
                  <div class="single-post">
                     <div class="feature-img" style="height: 400px; ">
                        <!-- <img  src="/assets/img/blog/fisica.jpg" alt=""> -->
                        <iframe  width="100%" height="400px" src="https://www.youtube.com/embed/Kl0E8p2IBmw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>
                     <div class="blog_details">
                        <h2 style="color: #2d2d2d;">A energia solar é uma energia renovável obtida pela luz do sol
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                           <li><a href="#"><i class="fa fa-user"></i>300 </a></li>
                           <li><a href="#"><i class="fa fa-comments"></i> 03 Comentarios</a></li>
                        </ul>
                        <p class="excert">
                           A energia solar é uma energia renovável obtida pela luz do sol, utilizada para o aquecimento de água 
                           (energia térmica) ou como fonte de energia elétrica. Assim como a energia eólica é uma das formas limpas de produção de energia que mais cresce no mundo.
                        </p>
                        
                        <div class="quote-wrapper">
                           <div class="quotes">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                           </div>
                        </div>
                      
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                        </p>
                     </div>
                  </div>
                  <div class="navigation-top">
                     <div class="d-sm-flex justify-content-between text-center">
                        <!-- <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Agostinho e outras 4
                           pessoas gostaram disso</p> -->
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                           <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                        </div>
                        <ul class="social-icons">
                           <li><a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a></li>
                           <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                           <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                           <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        </ul>
                     </div>
                     <!-- <div class="navigation-area"> -->
                        <!-- <div class="row"> -->
                           <!-- <div
                              class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                              <div class="thumb">
                                 <a href="#">
                                    <img class="img-fluid" src="/assets/img/post/preview.png" alt="">
                                 </a>
                              </div>
                              <div class="arrow">
                                 <a href="#">
                                    <span class="lnr text-white ti-arrow-left"></span>
                                 </a>
                              </div>
                              <div class="detials">
                                 <p>Prev Post</p>
                                 <a href="#">
                                    <h4 style="color: #2d2d2d;">Space The Final Frontier</h4>
                                 </a>
                              </div>
                           </div> -->
                           <!-- <div
                              class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                              <div class="detials">
                                 <p>Next Post</p>
                                 <a href="#">
                                    <h4 style="color: #2d2d2d;">Telescopes 101</h4>
                                 </a>
                              </div>
                              <div class="arrow">
                                 <a href="#">
                                    <span class="lnr text-white ti-arrow-right"></span>
                                 </a>
                              </div>
                              <div class="thumb">
                                 <a href="#">
                                    <img class="img-fluid" src="/assets/img/post/next.png" alt="">
                                 </a>
                              </div>
                           </div> -->
                        <!-- </div> -->
                     <!-- </div> -->
                  </div>
                  <!-- <div class="blog-author">
                     <div class="media align-items-center">
                        <img src="/assets/img/blog/author.png" alt="">
                        <div class="media-body">
                           <a href="#">
                              <h4>Harvard milan</h4>
                           </a>
                           <p>Second divided from form fish beast made. Every of seas all gathered use saying you're, he
                              our dominion twon Second divided from</p>
                        </div>
                     </div>
                  </div> -->
                  <div class="comments-area">
                     <h4>05 Comentarios</h4>
                     <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                           <div class="user justify-content-between d-flex">
                              <div class="thumb">
                                 <img src="/assets/img/comment/comment_1.png" alt="">
                              </div>
                              <div class="desc">
                                 <p class="comment">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque elit nisi, dictum vel arcu in, fermentum ullamcorper metus. Praesent imperdiet tellus tellus
                                 </p>
                                 <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                       <h5>
                                          <a href="#">Agostinho Dos Santos</a>
                                       </h5>
                                       <p class="date">Maio 4, 2021 as 12:30 </p>
                                    </div>
                                    <div class="reply-btn">
                                       <a href="#" class="btn-reply text-uppercase">responder</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                           <div class="user justify-content-between d-flex">
                              <div class="thumb">
                                 <img src="/assets/img/comment/comment_2.png" alt="">
                              </div>
                              <div class="desc">
                                 <p class="comment">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque elit nisi, dictum vel arcu in, fermentum ullamcorper metus. Praesent imperdiet tellus tellus
                                 </p>
                                 <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                       <h5>
                                          <a href="#">Agostinho Dos Santos</a>
                                       </h5>
                                       <p class="date">Maio 4, 2021 as 12:30 </p>
                                    </div>
                                    <div class="reply-btn">
                                       <a href="#" class="btn-reply text-uppercase">responder</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                           <div class="user justify-content-between d-flex">
                              <div class="thumb">
                                 <img src="/assets/img/comment/comment_3.png" alt="">
                              </div>
                              <div class="desc">
                                 <p class="comment">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque elit nisi, dictum vel arcu in, fermentum ullamcorper metus. Praesent imperdiet tellus tellus
                                 </p>
                                 <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                       <h5>
                                          <a href="#">Agostinho Dos Santos</a>
                                       </h5>
                                       <p class="date">Maio 4, 2021 as 12:30 </p>
                                    </div>
                                    <div class="reply-btn">
                                       <a href="#" class="btn-reply text-uppercase">responder</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="comment-form">
                     <h4>Deixe seu comentario</h4>
                     <form class="form-contact comment_form" action="#" id="commentForm">
                        <div class="row">
                           <div class="col-12">
                              <div class="form-group">
                                 <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                    placeholder="Escreva seu comentário"></textarea>
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <input class="form-control" name="name" id="name" type="text" placeholder="Nome">
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                              </div>
                           </div>
                           <!-- <div class="col-12">
                              <div class="form-group">
                                 <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                              </div>
                           </div> -->
                        </div>
                        <div class="form-group">
                           <button type="submit" class="button button-contactForm btn_1 boxed-btn">Enviar comentario</button>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="blog_right_sidebar ">

                    <button class="btn btn-primary btn-top">Começar</button>

                     <aside class="feature">
                        <h4 class="widget_title-custom" style="color: #2d2d2d;">Esta aula inclui:</h4>
                        <ul class="list cat-list">
                           
                                <li class="list-group-item list-group-item-action">
                                  <div class="md-v-line"></div><i class="fas fa-laptop mr-4 pr-3"></i>25 horas de vídeo sob demanda
                                </li>
                                <li class="list-group-item list-group-item-action">
                                  <div class="md-v-line"></div><i class="fas fa-file-alt mr-5"></i>13 artigos
                                </li>
                                <li class="list-group-item list-group-item-action">
                                  <div class="md-v-line"></div><i class="fas fa-download mr-5"></i>5 recursos para download
                                </li>
                                <li class="list-group-item list-group-item-action">
                                  <div class="md-v-line"></div><i class="fas fa-tv mr-5"></i>Acesso no celular e na TV
                                </li>
                                <li class="list-group-item list-group-item-action">
                                  <div class="md-v-line"></div><i class="fas fa-certificate mr-5"></i>Certificado de conclusão
                                </li>
                            
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title" style="color: #2d2d2d;">Conteúdo do curso</h3>
                     <div class="media post_item">
                         <img src="/assets/img/post/white-vector.jpg" alt="post">
                         <div class="media-body">
                             <a href="blog_details.html">
                                 <h3 style="color: #2d2d2d;">Área do Losango...</h3>
                             </a>
                             <p>30:00</p>
                         </div>
                     </div>
                     <div class="media post_item">
                         <img src="/assets/img/post/white-vector.jpg" alt="post">
                         <div class="media-body">
                             <a href="blog_details.html">
                                 <h3 style="color: #2d2d2d;">Produtos Notáveis</h3>
                             </a>
                             <p>45:00</p>
                         </div>
                     </div>
                     <div class="media post_item">
                         <img src="/assets/img/post/white-vector.jpg" alt="post">
                         <div class="media-body">
                             <a href="blog_details.html">
                                 <h3 style="color: #2d2d2d;">Modelos Atômicos</h3>
                             </a>
                             <p>1:20:00</p>
                         </div>
                     </div>
                     <div class="media post_item">
                         <img src="/assets/img/post/white-vector.jpg" alt="post">
                         <div class="media-body">
                             <a href="blog_details.html">
                                 <h3 style="color: #2d2d2d;">Notação Científica</h3>
                             </a>
                             <p>1:00:00</p>
                         </div>
                     </div>
                 </aside>
                     <aside class="single_sidebar_widget tag_cloud_widget">
                        <h4 class="widget_title" style="color: #2d2d2d;">Tag Clouds</h4>
                        <ul class="list">
                           <li>
                              <a href="#">project</a>
                           </li>
                           <li>
                              <a href="#">love</a>
                           </li>
                           <li>
                              <a href="#">technology</a>
                           </li>
                           <li>
                              <a href="#">travel</a>
                           </li>
                           <li>
                              <a href="#">restaurant</a>
                           </li>
                           <li>
                              <a href="#">life style</a>
                           </li>
                           <li>
                              <a href="#">design</a>
                           </li>
                           <li>
                              <a href="#">illustration</a>
                           </li>
                        </ul>
                     </aside>
                    
                     <aside class="single_sidebar_widget newsletter_widget">
                        <h4 class="widget_title" style="color: #2d2d2d;">Newsletter</h4>
                        <form action="#">
                           <div class="form-group">
                              <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                 onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                           </div>
                           <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                              type="submit">Subscrever</button>
                        </form>
                     </aside>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--================ Blog Area end =================-->
   </main>
   <footer>
      <!--? Footer Start-->
      <%- include('../partials/footer.html') %>
      <!-- Footer End-->
  </footer>
   <!-- Scroll Up -->
   <div id="back-top" >
         <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
   </div>

   <!-- JS here -->

   <%- include('../partials/footersrc.html')%>

   </body>
</html>